absl-py==0.2.2
astor==0.6.2
gast==0.2.0
h5py==2.8.0
html5lib==0.9999999
Keras==2.1.5
Markdown==2.6.11
protobuf==3.5.2.post1
PyYAML==5.1
scipy
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
Werkzeug==0.15.3
opencv-python==4.5.5.64
